* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: #000;
}

#time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

.morning {
  background-image: url("../img/1.jpg");
}
.afternoon{
  background-image: url("../img/2.jpg");
}
.evening{
  background-image: url("../img/3.jpg");
}

@media (max-width: 700px) {
  #time {
    font-size: 6rem;
  }
}
